
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, 'Times New Roman', Times, serif;
    padding: 10px;
    background: #7ca4e4;
  }
  
  /* Header/Blog Title */
  .header {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    color: white;
    text-align: center;
    background-image: url('/assets/young-people-playing-padel-tennis-royalty-free-image-1680623375.jpg'); /* Ruta de la imagen actual */
    background-size: cover;
    background-position: bottom;
  }
  
  .logo {
    height: 300px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #212121;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #FFEB3B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #FFF9C4;
    color: #8BC34A;
  }
  

  .padel {
    height:400px
  }

  
  
  /* Add a card effect for articles */
  .card {
    background-color: #7ca4e4;
    padding: 20px;
    margin-top: 20px;
    margin-left: 500px;
  }

  p {
    margin-left: -500px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 3px;
    text-align: center;
    background: #212121;
    margin-top: 20px;
    color: #FFEB3B;
  }



  .fb, .ig {
    height: 40px
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }




h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.header h1 {
  font-size: 50px;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}