body {
    /* background-color: aliceblue; */
    background-color: #DCEDC8;
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
    /* padding: 150px 200px; */
    justify-content: center;
}

h1 {
    font-size: 38px;
    text-transform: uppercase;
}

h2 {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}

h3 {
    margin-left: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;

}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

form {
    width: 800px;
    padding: 50px 0px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    justify-items: start;
}

form * {
    margin: 0 auto;
    width: 600px;
}

input {
    /* width: 80%; */
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: grey;
}

#formularioContacto button {
    margin: auto;
    color: #fff;
    max-width: 200px;
    background: #ad71d8;
    display: block;
    border-radius: 24px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    border: none;

    &:hover {
        background-color: #4b008260;
        color: #3c3838;
    }
}

textarea {
    
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* SEGUIMOS PRACTICANDO CSS */

.container {    
    display: flex;    
    align-items: center;
    height: auto;
    
    img {
        transform: translateX(250px);
    }
}

.address-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

address {
    display: inline-block;
    gap: 5px;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
    gap: 5px;
}
.contact-subtitle {
    font-weight: 500;
    font-size: 18px;
}
.contactome{
   max-width: 30%;
}

.contactito {
    height: auto;
    display: flex;
    text-align: center;
    align-content: center;
    margin-top: 100px;
    
}

.contactito2 {
    display: flex;
    text-align: start;
    align-content: center;
    margin-right: 10%;
    /* background-color: orange;   */
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #fff9c4;
    color: black;
}




.header h1 {
    font-size: 50px;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

