.body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


form {
    max-width: 600px;
    width: 150vw;
    height: 800;
    margin: 0 auto;   
    padding: 20px;
    /* Añade espacio interno para mayor claridad */
    border: 1px solid #ccc;
    /* Un borde para visualizar mejor el formulario */
    border-radius: 8px;
    display: grid;
    /* align-content: center; */


}

/* label {
    display: block;
    margin-bottom: 8px;
    color: grey;
} */

input {
    width: 500px;
    height: 70;
    padding: 8px;
    margin-bottom: 16px;
    padding: 20px;   
    border: 1px solid #ccc;    
    border-radius: 8px;  

}


textarea {
    width: 300;
    height: 100;
    padding: 8px;
    margin-bottom: 16px;

}

button {
    width: 100px;
    height: 50px;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;

}

button:hover {
    background-color: #45a049;
}